{% extends "base.html" %}

{% block title %}Home - WebGIS{% endblock %}

{% block content %}
<div class="container marketing mt-5">
  <div class="row featurette">
    <div class="col-md-7 d-flex flex-column justify-content-center">
      <h1 class="fw-bold display-4">Welcome to WebGIS 🔥</h1>
      <p class="lead text-muted mb-4 mt-3">
        I’m passionate about <span class="fw-semibold text-dark">teaching Python, software development, and machine learning</span>.  
        This site is designed as <span class="fw-semibold text-dark">teaching material</span> to help learners explore 
        <span class="fw-semibold text-dark">WebGIS</span> concepts using <span class="fw-semibold text-dark">Flask</span>, <span class="fw-semibold text-dark">Folium</span>, and <span class="fw-semibold text-dark">PostGIS</span>.  
        Here, you’ll find examples, explanations, and guides to build your own interactive maps and geospatial applications.
      </p>
      <div>
        <a href="/about" class="btn btn-dark btn-lg rounded-pill px-4 ms-2 text-bold">About Me</a>
      </div>
    </div>
    <div class="col-md-5">
      <!-- <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg> -->
      <img src="{{ url_for('static', filename='profile.png') }}" alt="Profile Image" style="max-width: 100%; height: auto; border-radius: 12px;">

    </div>
  </div>
</div>

<hr style="border: none; height: 4px; background-color: #5c4033; margin: 40px 0;">

<div class="container marketing mt-5">
  <div class="row mb-2">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light">
        <div class="col-auto d-none d-lg-block">
          <img src="{{ url_for('static', filename='project1.png') }}" alt="Image Project 1" style="object-fit: cover; height: 370px; border-radius: 12px;">
        </div>
        <div class="col p-4 d-flex flex-column position-static" style="height: 250px;">
          <strong class="d-inline-block mb-2 text-danger">Earthquake Hazard</strong>
          <h4 class="mb-0">Earthquake Magnitude and Depth Visualization</h4>
          <p class="card-text mb-auto mt-3">
            This map visualizes recent earthquakes worldwide, with circle size showing magnitude and color indicating depth. Clicking a marker reveals detailed information such as location, magnitude, depth, and time of the event.
          </p>
          <div>
            <a href="/project1" class="btn btn-outline-danger btn-sm rounded-pill px-3 py-1 text-bold">See Project</a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light">
        <div class="col-auto d-none d-lg-block">
          <img src="{{ url_for('static', filename='project2.png') }}" alt="Image Project 2" style="object-fit: cover; height: 370px; border-radius: 12px;">
        </div>
        <div class="col p-4 d-flex flex-column position-static" style="height: 250px;">
          <strong class="d-inline-block mb-2 text-danger">Urban Mapping</strong>
          <h4 class="mb-0">Choropleth Map of U.S. Unemployment</h4>
          <p class="card-text mb-auto mt-3">
            This map shows U.S. states shaded by the log-transformed total unemployment, using a color gradient to highlight differences. Clicking a state reveals its name, total unemployment, and log value for clearer comparison.
          </p>
          <div>
            <a href="/project2" class="btn btn-outline-danger btn-sm rounded-pill px-3 py-1 text-bold">See Project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
